*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav {
    background-image: url("../img/dark.jpg");
    width: 100%;
    background-size: cover;
    
}
.jay {
    background-image: url("../img//dark.jpg");
    
    width: 100%;
    height: 100vh;
    background-size: cover;
    font-family: <link rel="preconnect" href="https://fonts.googleapis.com">;
    
}
.text-center{
    margin-top: 50px;
    font-weight: bold;
    
    color: rgb(33, 204, 33);
}
.row {
    display: block;
    
    
}
#img {
    
    float: left;
}
#text {
    float: right;
}
#about {
    display: flex;
    
}
.bg-light {
    margin-top: -50px;
    
}
.container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;



}
#skills {
    background-image: url(../img/271d18e5bb3f1eb2b687cc52a2bee291.jpg);
    border: 10px;
    border-radius: 15px;
    color: rgb(29, 245, 29);

}
.Project {
    background-image: url(../img/271d18e5bb3f1eb2b687cc52a2bee291.jpg);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(38, 236, 38);
    border-radius: 20px;
    border: 10px;
    
}
#hobbies {
    background-image: url(../img/271d18e5bb3f1eb2b687cc52a2bee291.jpg);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(44, 240, 44);
    border: 10px;
    border-radius: 15px;
    width: 170px;
}
.background {
    background-color: black;
}
.img {
    border: 10px;
    border-radius: 15px;
    float: right;
}