
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,700&display=swap');

*{ 

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav {
    background-image: url("../img/dark.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    color: greenyellow;
    margin-bottom: 0%;
    
}
.jay {
    background-image: url("../img//dark.jpg");
    
    width: 100%;
    height: 100vh;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    color: green;
    
    
}
#imagine {
    color: rgb(57, 230, 57);
}
.text-center{
    margin-top: 0px;
    font-weight: bold;
    
    color: rgb(33, 204, 33);
}
.row {
    display: block;
    
    
}
#img {
    
    float: left;
    border-style: none;
}
#text {
    float: right;
    color: white;
}
#about {
    display: flex;
    margin-top: 0px;
    
}
#trust {

    color: greenyellow;

}
.bg-light {
    margin-top: -50px;
    
}
.container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0px;
    background-image: url(../img/271d18e5bb3f1eb2b687cc52a2bee291.jpg);

}

#skills {
    background-image: url(../img/271d18e5bb3f1eb2b687cc52a2bee291.jpg);
    border: 10px;
    border-radius: 15px;
    color: rgb(29, 245, 29);
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 70px;
    border-style: double;
    border-color: white;
    float: right;
    

}
.Project {
    background-image: url(../img/271d18e5bb3f1eb2b687cc52a2bee291.jpg);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    border-radius: 20px;
    border: 10px;
    margin-top: 50px;
    border-style: double;
    border-color: white;
    
}
#hobbies {
    background-image: url(../img/271d18e5bb3f1eb2b687cc52a2bee291.jpg);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(44, 240, 44);
    border: 10px;
    border-radius: 15px;
    width: 170px;
    margin-top: 50px;
    margin-right: 30px;
    border-color: white;
    border-style: double;
    
}
.background {
    background-color: black;
}
.img {
    border: 10px;
    border-radius: 15px;
    float: right;
}
#heading {
    color: white;
    margin: 70px;
    border: 0px;
}
#highlight {
    color: rgb(73, 209, 10);
}
#class {
    background-image: url(../img/271d18e5bb3f1eb2b687cc52a2bee291.jpg);
}
#image {
    margin-top: 80px;
}
.H3 {
    color: white;
    text-align: center;
}
#part3 {
    
}
#proj {
    color: greenyellow;
    text-align: center;
    margin: 580px;
    font-weight: bold;
}
#cont {
    color: greenyellow;
    text-align: center;
    
}
.contacts {
    border-style: double;
    color: white;
    text-align: center;
    margin-top: 50px;
    bor

}
